@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i|Source+Sans+Pro:400,400i,700,700i&subset=latin-ext');

html {
  padding: 1em;
}

// Size overrides for FlowType (we need to set ems instead of rem which might not work)
.badge {
  font-size: 0.6em;
}
.button {
  font-size: 0.9em;
}
.pagination li {
  font-size: 1em;
}

.article-nav-link strong { line-height: 2em; }
#article-nav-newer { text-align: left; }
#article-nav-older { text-align: right; }

#blog-name { font-weight: 400; }

.tag-list-count.badge {
  position: relative;
  top: -2px;
  left: 4px;
}

a.label:hover { color: #e6e6e6; }

article .article-meta {
  margin-bottom: 0.5em;
  .label {
    position: relative;
    top: -1px;
  }
}
article {
  margin-bottom: 0.5em;
}
article .article-datetime {
  margin-right: 0.5em;
}

#pagination {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

#footer {
  margin-bottom: 2em;
}

.pswp__caption__center {
  text-align: center;
  font-size: 24px;
}