html {
  @include breakpoint(small only) {
    padding: 0.25em;
  }

  @include breakpoint(medium) {
    padding: 1em;
  }
}

body {
  @include breakpoint(small only) {
    font-size: rem-calc(14);
  }
}

// Size overrides for FlowType (we need to set ems instead of rem which might not work)
.badge {
  font-size: 0.6em;
}
.button {
  font-size: 0.9em;
}
.pagination li {
  font-size: 1em;
}

.article-dates {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 0.8em;
  font-style: italic;
}

#header {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-more-link {
  clear: both;
}

.article-footer {
  margin-top: 2em;
}

#sidebar {
  @include breakpoint(large) {
    margin-top: 17px;
  }
}

.article-nav-link strong { line-height: 2em; }
#article-nav-newer { text-align: left; }
#article-nav-older { text-align: right; }

#blog-name { font-weight: 400; }

.tag-list-count.badge {
  position: relative;
  top: -2px;
  left: 4px;
}

a.label:hover {
  color: inherit;
  background-color: darken($label-background, 5%);
}

article .article-meta {
  margin-bottom: 0.5em;
  .label {
    position: relative;
    top: -1px;
    font-size: 0.85em;
  }
}
article {
  margin-bottom: 2em;
}

#pagination {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

#footer {
  margin-bottom: 2em;
}

.pswp__button--arrow--left, .pswp__button--arrow--right {
  z-index: 1;
}

.pswp__caption__center {
  max-width: initial;
  text-align: center;
  line-height: 1.15;
  @include breakpoint(small) {
    font-size: 0.8em;
  }
  @include breakpoint(medium) {
    font-size: 1em;
  }
}

blockquote {
  font-size: 1.25em;
  font-weight: 400;
  font-family: "Roboto", Helvetica, Roboto, Arial, sans-serif;
  font-style: italic;
}

#footer, .widget-title {
  color: #666;
}

figure {
  margin: 0.5em 0.5em 1em 0.5em;
}
figcaption {
  font-size: 0.8em;
  font-style: italic;
}

.article-main img + img {
  margin-top: 1em;
}