.article-nav-link strong { line-height: 2em; }
#article-nav-newer { text-align: left; }
#article-nav-older { text-align: right; }

.tag-list-count.badge {
  position: relative;
  top: -2px;
  left: 4px;
}

a.label:hover { color: #e6e6e6; }

article .article-header h1 {
  margin-top: 0.5em;
}

#pagination {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

#footer {
  margin-bottom: 2em;
}