@import "../bower_components/foundation/scss/foundation";
@import "module/widget";


time {
  text-transform: uppercase;
}
.article-datetime {
  text-transform: uppercase;
}

.article-footer {
  border-top: 1px solid #eee;
  background: #fc0;
}
