<% if (site.tags.length){ %>
  <div class="widget-wrap subheading">
    <h3 class="widget-title"><%= __('tags') %></h3>
    <div class="widget">
      <%- foundation_list_tags() %>
    </div>
  </div>
<% } %>
