<footer id="footer" class="row l-footer border-top">

  <div class="l-footer-body">
    <div id="footer-info" class="large-6 columns">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    </div>
    <div class="large-6 columns medium-text-left large-text-right">
      <%- __('powered_by') %>
    </div>
  </div>

</footer>
