
<div id="header" class="row">
	<h1 class="logo-wrap">
	  <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
	</h1>
	<% if (theme.subtitle){ %>
	  <h2 class="small">
		<%= theme.subtitle %>
	  </h2>
	<% } %>
</div>
