<header id="header" class="row columns">
	<h1 id="blog-name"><a href="<%- url_for() %>"><%= config.title %></a></h1>
	<% if (theme.subtitle){ %>
	  <span id="blog-subtitle" class="small"><%= theme.subtitle %></span>
	<% } %>
</header>
